<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NControl" version="0.7.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="NGraphics" version="0.4.0" targetFramework="net46" />
  <package id="portable.accord.core" version="2.15.0.50504" targetFramework="net451" />
  <package id="portable.accord.math" version="2.15.0.50504" targetFramework="net451" />
  <package id="portable.accord.neuro" version="2.15.0.50504" targetFramework="net451" />
  <package id="portable.accord.statistics" version="2.15.0.50504" targetFramework="net451" />
  <package id="portable.aforge.core" version="2.2.5.50504" targetFramework="net451" />
  <package id="portable.aforge.genetic" version="2.2.5.50504" targetFramework="net451" />
  <package id="portable.aforge.math" version="2.2.5.50504" targetFramework="net451" />
  <package id="portable.aforge.neuro" version="2.2.5.50504" targetFramework="net451" />
  <package id="shim" version="2.0.0-alpha1" targetFramework="net46" />
  <package id="Xamarin.Forms" version="2.1.0.6503-pre2" targetFramework="net46" />
</packages>