<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.DeviceInfo" version="3.2.3" targetFramework="wpa81" />
  <package id="Microsoft.Band" version="1.3.20307" targetFramework="wpa81" />
  <package id="NControl" version="0.7.1" targetFramework="wpa81" />
  <package id="NControl.Controls" version="0.7" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="wpa81" />
  <package id="NGraphics" version="0.4.0" targetFramework="wpa81" />
  <package id="portable.accord.core" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.accord.math" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.accord.neuro" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.accord.statistics" version="2.15.0.50504" targetFramework="wpa81" />
  <package id="portable.aforge.core" version="2.2.5.50504" targetFramework="wpa81" />
  <package id="portable.aforge.genetic" version="2.2.5.50504" targetFramework="wpa81" />
  <package id="portable.aforge.math" version="2.2.5.50504" targetFramework="wpa81" />
  <package id="portable.aforge.neuro" version="2.2.5.50504" targetFramework="wpa81" />
  <package id="SharpDX" version="3.0.0-alpha01" targetFramework="wpa81" />
  <package id="SharpDX.Direct2D1" version="2.6.3" targetFramework="wpa81" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="wpa81" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="wpa81" />
  <package id="SharpDX.XAudio2" version="3.0.0-alpha01" targetFramework="wpa81" />
  <package id="shim" version="2.0.0-alpha1" targetFramework="wpa81" />
  <package id="Xamarin.Forms" version="2.1.0.6503-pre2" targetFramework="wpa81" />
  <package id="Xamarin.Microsoft.Band" version="1.3.8" targetFramework="wpa81" />
  <package id="Xamarin.Microsoft.Band.Native" version="1.3.8" targetFramework="wpa81" />
</packages>