<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'PunchingBand.Windows' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>ba9c1f8f-89a3-4ce1-a9c4-23c043212120</InstrumentationKey>
</ApplicationInsights>